In [1]:
%matplotlib inline

In [2]:
#NEWCOMMENTS
#Import libraries
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

In [3]:
# Files to load
overall_homeless_data_to_load = "Resources/MD_County_Homeless.csv"
homeless_by_county__data_to_load = "Resources/MD_Homeless_PerCounty.csv"

In [4]:
# Read School and Student Data Files and store into Pandas DataFrames
overall_homeless_data = pd.read_csv(overall_homeless_data_to_load) 
homeless_by_county_data = pd.read_csv(homeless_by_county__data_to_load)

In [5]:
# Combine overall homeless and homeless by county data into a single dataset.  
homeless_data_complete = pd.merge(overall_homeless_data, homeless_by_county_data, how="left", on=["County_ID", "County_ID"])

#homeless_data_complete.apply(lambda x: x.str.replace(',', '').astype(float), axis=1)
#df.read_csv('foo.tsv', sep='\t', thousands=',')

homeless_data_complete.head()

,County_ID,County_name,Civilian_labor_force,Employed,Unemployed,Unemployment_rate,Median_Household_Income,Med_HH_Income_Percent_of_State_Total,Overall Homeless 2019,Overall Homeless 2018,...,Overall Homeless - Female,Overall Homeless - Male,Overall Homeless - Non-Hispanic,Overall Homeless - Hispanic/Latino,Overall Homeless - White,Overall Homeless - Black or African American,Overall Homeless - Asian,Overall Homeless - American Indian or Alaska Native,Overall Homeless - Native Hawaiian or Other Pacific Islander,Overall Homeless - Multiple Races
0,MD-500,Allegany County,"32,253","30,618","1,635",5.1,"48,170",55.6,145,79,...,98,47,145,0,119,14,0,0,0,12
1,MD-501,Baltimore city,"287,760","273,351","14,409",5.0,"49,780",57.5,"2,294","2,508",...,631,"1,660","2,234",60,602,"1,609",15,25,8,35
2,MD-502,Harford County,"143,572","138,927","4,645",3.2,"91,492",105.6,228,190,...,100,127,204,24,116,83,1,2,0,26
3,MD-503,Anne Arundel County,"321,069","311,556","9,513",3.0,"100,916",116.5,302,366,...,112,189,296,6,164,118,1,1,0,18
4,MD-504,Howard County,"191,529","186,427","5,102",2.7,"121,329",140.0,201,168,...,93,107,192,9,45,132,2,5,1,16

In [6]:
#homeless_data_complete.columns
homeless_col=['Civilian_labor_force', 'Employed',
       'Unemployed', 'Unemployment_rate', 'Median_Household_Income',
       'Med_HH_Income_Percent_of_State_Total', 'Overall Homeless 2019',
       'Overall Homeless 2018', 'Overall Homeless 2017',
       'Overall Homeless 2016', 'Overall Homeless 2015',
       'Overall Homeless - Under 18 ', 'Overall Homeless - Age 18 to 24',
       'Overall Homeless - Over 24', 'Overall Homeless - Female',
       'Overall Homeless - Male', 'Overall Homeless - Non-Hispanic',
       'Overall Homeless - Hispanic/Latino', 'Overall Homeless - White',
       'Overall Homeless - Black or African American',
       'Overall Homeless - Asian',
       'Overall Homeless - American Indian or Alaska Native',
       'Overall Homeless - Native Hawaiian or Other Pacific Islander',
       'Overall Homeless - Multiple Races']

In [7]:
for i in homeless_col:
    try:
        print(i)
        print(homeless_data_complete[i])
        homeless_data_complete[i]= homeless_data_complete[i].str.replace(',', '').astype(float)
    
    except:
        print("Error")
    pass

Civilian_labor_force
0      32,253
1     287,760
2     143,572
3     321,069
4     191,529
5     459,091
6      96,933
7      53,891
8      65,682
9     137,920
10     15,981
11     18,469
12     74,861
13     28,749
14    513,748
15    565,463
Name: Civilian_labor_force, dtype: object
Employed
0      30,618
1     273,351
2     138,927
3     311,556
4     186,427
5     442,597
6      94,187
7      51,812
8      63,492
9     133,683
10     15,301
11     17,815
12     72,015
13     27,162
14    494,934
15    549,296
Name: Employed, dtype: object
Unemployed
0      1,635
1     14,409
2      4,645
3      9,513
4      5,102
5     16,494
6      2,746
7      2,079
8      2,190
9      4,237
10       680
11       654
12     2,846
13     1,588
14    18,814
15    16,167
Name: Unemployed, dtype: object
Unemployment_rate
0     5.1
1     5.0
2     3.2
3     3.0
4     2.7
5     3.6
6     2.8
7     3.9
8     3.0
9     3.1
10    4.3
11    4.0
12    3.8
13    6.0
14    3.7
15    2.9
Name: Unemployment_rate, dtype: float64
Error
Median_Household_Income
0      48,170
1      49,780
2      91,492
3     100,916
4     121,329
5      76,972
6     101,810
7      75,307
8     100,896
9     102,951
10     59,253
11     70,306
12     59,785
13     52,968
14     85,357
15    110,012
Name: Median_Household_Income, dtype: object
Med_HH_Income_Percent_of_State_Total
0      55.6
1      57.5
2     105.6
3     116.5
4     140.0
5      88.8
6     117.5
7      86.9
8     116.0
9     118.8
10     68.4
11     81.0
12     69.0
13     61.0
14     98.5
15    127.0
Name: Med_HH_Income_Percent_of_State_Total, dtype: float64
Error
Overall Homeless 2019
0       145
1     2,294
2       228
3       302
4       201
5       735
6       144
7       126
8       306
9       286
10       12
11      164
12      249
13      275
14      447
15      647
Name: Overall Homeless 2019, dtype: object
Overall Homeless 2018
0        79
1     2,508
2       190
3       366
4       168
5       758
6       173
7       129
8       492
9       316
10       15
11      141
12      199
13      292
14      478
15      840
Name: Overall Homeless 2018, dtype: object
Overall Homeless 2017
0       118
1     2,669
2       189
3       376
4       168
5       609
6       147
7       193
8       419
9       309
10       10
11      153
12      208
13      260
14      525
15      894
Name: Overall Homeless 2017, dtype: object
Overall Homeless 2016
0       124
1     2,725
2       179
3       390
4       214
5       763
6       136
7       167
8       464
9       349
10       20
11      138
12      233
13      262
14      544
15      981
Name: Overall Homeless 2016, dtype: object
Overall Homeless 2015
0        96
1     2,796
2       210
3       335
4       166
5       745
6       140
7       191
8       981
9       311
10        9
11      158
12      201
13      326
14      625
15     1100
Name: Overall Homeless 2015, dtype: object
Overall Homeless - Under 18
0      27
1     236
2      86
3      49
4      68
5     188
6      22
7      28
8      51
9      46
10      0
11     48
12     24
13     49
14    162
15    130
Name: Overall Homeless - Under 18 , dtype: int64
Error
Overall Homeless - Age 18 to 24
0       9
1     134
2      16
3      23
4      14
5      33
6      17
7       3
8      21
9      20
10      0
11     14
12     18
13     13
14     36
15     28
Name: Overall Homeless - Age 18 to 24, dtype: int64
Error
Overall Homeless - Over 24
0       109
1     1,924
2       126
3       230
4       119
5       514
6       105
7        95
8       234
9       220
10       12
11      102
12      207
13      213
14      249
15      489
Name: Overall Homeless - Over 24, dtype: object
Overall Homeless - Female
0      98
1     631
2     100
3     112
4      93
5     344
6      57
7      34
8     125
9      82
10      5
11     84
12     77
13    110
14    261
15    277
Name: Overall Homeless - Female, dtype: int64
Error
Overall Homeless - Male
0        47
1     1,660
2       127
3       189
4       107
5       391
6        84
7        92
8       170
9       204
10        7
11       80
12      171
13      164
14      185
15      369
Name: Overall Homeless - Male, dtype: object
Overall Homeless - Non-Hispanic
0       145
1     2,234
2       204
3       296
4       192
5       723
6       141
7       119
8       304
9       272
10       12
11      151
12      242
13      272
14      432
15      553
Name: Overall Homeless - Non-Hispanic, dtype: object
Overall Homeless - Hispanic/Latino
0      0
1     60
2     24
3      6
4      9
5     12
6      3
7      7
8      2
9     14
10     0
11    13
12     7
13     3
14    15
15    94
Name: Overall Homeless - Hispanic/Latino, dtype: int64
Error
Overall Homeless - White
0     119
1     602
2     116
3     164
4      45
5     253
6     111
7      91
8     114
9     183
10     12
11     83
12    171
13    116
14     22
15    183
Name: Overall Homeless - White, dtype: int64
Error
Overall Homeless - Black or African American
0        14
1     1,609
2        83
3       118
4       132
5       439
6        15
7        30
8       175
9        81
10        0
11       66
12       70
13      152
14      406
15      388
Name: Overall Homeless - Black or African American, dtype: object
Overall Homeless - Asian
0      0
1     15
2      1
3      1
4      2
5      3
6      0
7      0
8      1
9      2
10     0
11     0
12     1
13     0
14     0
15    20
Name: Overall Homeless - Asian, dtype: int64
Error
Overall Homeless - American Indian or Alaska Native
0      0
1     25
2      2
3      1
4      5
5      4
6      2
7      0
8      2
9      0
10     0
11     1
12     0
13     0
14     1
15     2
Name: Overall Homeless - American Indian or Alaska Native, dtype: int64
Error
Overall Homeless - Native Hawaiian or Other Pacific Islander
0      0
1      8
2      0
3      0
4      1
5      1
6      0
7      0
8      1
9      0
10     0
11     1
12     1
13     0
14     0
15    13
Name: Overall Homeless - Native Hawaiian or Other Pacific Islander, dtype: int64
Error
Overall Homeless - Multiple Races
0     12
1     35
2     26
3     18
4     16
5     35
6     16
7      5
8     13
9     20
10     0
11    13
12     6
13     7
14    18
15    41
Name: Overall Homeless - Multiple Races, dtype: int64
Error

In [8]:
homeless_data_complete.head()

,County_ID,County_name,Civilian_labor_force,Employed,Unemployed,Unemployment_rate,Median_Household_Income,Med_HH_Income_Percent_of_State_Total,Overall Homeless 2019,Overall Homeless 2018,...,Overall Homeless - Female,Overall Homeless - Male,Overall Homeless - Non-Hispanic,Overall Homeless - Hispanic/Latino,Overall Homeless - White,Overall Homeless - Black or African American,Overall Homeless - Asian,Overall Homeless - American Indian or Alaska Native,Overall Homeless - Native Hawaiian or Other Pacific Islander,Overall Homeless - Multiple Races
0,MD-500,Allegany County,32253.0,30618.0,1635.0,5.1,48170.0,55.6,145.0,79.0,...,98,47.0,145.0,0,119,14.0,0,0,0,12
1,MD-501,Baltimore city,287760.0,273351.0,14409.0,5.0,49780.0,57.5,2294.0,2508.0,...,631,1660.0,2234.0,60,602,1609.0,15,25,8,35
2,MD-502,Harford County,143572.0,138927.0,4645.0,3.2,91492.0,105.6,228.0,190.0,...,100,127.0,204.0,24,116,83.0,1,2,0,26
3,MD-503,Anne Arundel County,321069.0,311556.0,9513.0,3.0,100916.0,116.5,302.0,366.0,...,112,189.0,296.0,6,164,118.0,1,1,0,18
4,MD-504,Howard County,191529.0,186427.0,5102.0,2.7,121329.0,140.0,201.0,168.0,...,93,107.0,192.0,9,45,132.0,2,5,1,16

In [9]:
#homeless_data_complete.apply(lambda x: x.str.replace(',', '').astype(float), axis=1)

In [10]:
homeless_data_complete.head()

,County_ID,County_name,Civilian_labor_force,Employed,Unemployed,Unemployment_rate,Median_Household_Income,Med_HH_Income_Percent_of_State_Total,Overall Homeless 2019,Overall Homeless 2018,...,Overall Homeless - Female,Overall Homeless - Male,Overall Homeless - Non-Hispanic,Overall Homeless - Hispanic/Latino,Overall Homeless - White,Overall Homeless - Black or African American,Overall Homeless - Asian,Overall Homeless - American Indian or Alaska Native,Overall Homeless - Native Hawaiian or Other Pacific Islander,Overall Homeless - Multiple Races
0,MD-500,Allegany County,32253.0,30618.0,1635.0,5.1,48170.0,55.6,145.0,79.0,...,98,47.0,145.0,0,119,14.0,0,0,0,12
1,MD-501,Baltimore city,287760.0,273351.0,14409.0,5.0,49780.0,57.5,2294.0,2508.0,...,631,1660.0,2234.0,60,602,1609.0,15,25,8,35
2,MD-502,Harford County,143572.0,138927.0,4645.0,3.2,91492.0,105.6,228.0,190.0,...,100,127.0,204.0,24,116,83.0,1,2,0,26
3,MD-503,Anne Arundel County,321069.0,311556.0,9513.0,3.0,100916.0,116.5,302.0,366.0,...,112,189.0,296.0,6,164,118.0,1,1,0,18
4,MD-504,Howard County,191529.0,186427.0,5102.0,2.7,121329.0,140.0,201.0,168.0,...,93,107.0,192.0,9,45,132.0,2,5,1,16