In [1]:
%matplotlib

Using matplotlib backend: Qt5Agg

In [2]:
#NEWCOMMENTS
#Import libraries
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

In [3]:
# Files to load
overall_homeless_data_to_load = "Resources/MD_County_Homeless.csv"
homeless_by_county__data_to_load = "Resources/MD_Homeless_PerCounty.csv"

In [4]:
# Read School and Student Data Files and store into Pandas DataFrames
overall_homeless_data = pd.read_csv(overall_homeless_data_to_load) 
homeless_by_county_data = pd.read_csv(homeless_by_county__data_to_load)

In [10]:
# Combine overall homeless and homeless by county data into a single dataset.  
homeless_data_complete = pd.merge(overall_homeless_data, homeless_by_county_data, how="left", on=["County_ID", "County_ID"])

#homeless_data_complete.apply(lambda x: x.str.replace(',', '').astype(float), axis=1)
#df.read_csv('foo.tsv', sep='\t', thousands=',')

homeless_data_complete

,County_ID,County_name,Civilian_labor_force,Employed,Unemployed,Unemployment_rate,Median_Household_Income,Med_HH_Income_Percent_of_State_Total,Overall Homeless 2019,Overall Homeless 2018,...,Overall Homeless - Female,Overall Homeless - Male,Overall Homeless - Non-Hispanic,Overall Homeless - Hispanic/Latino,Overall Homeless - White,Overall Homeless - Black or African American,Overall Homeless - Asian,Overall Homeless - American Indian or Alaska Native,Overall Homeless - Native Hawaiian or Other Pacific Islander,Overall Homeless - Multiple Races
0,MD-500,Allegany County,"32,253","30,618","1,635",5.1,"48,170",55.6,145,79,...,98,47,145,0,119,14,0,0,0,12
1,MD-501,Baltimore city,"287,760","273,351","14,409",5.0,"49,780",57.5,"2,294","2,508",...,631,"1,660","2,234",60,602,"1,609",15,25,8,35
2,MD-502,Harford County,"143,572","138,927","4,645",3.2,"91,492",105.6,228,190,...,100,127,204,24,116,83,1,2,0,26
3,MD-503,Anne Arundel County,"321,069","311,556","9,513",3.0,"100,916",116.5,302,366,...,112,189,296,6,164,118,1,1,0,18
4,MD-504,Howard County,"191,529","186,427","5,102",2.7,"121,329",140.0,201,168,...,93,107,192,9,45,132,2,5,1,16
5,MD-505,Baltimore County,"459,091","442,597","16,494",3.6,"76,972",88.8,735,758,...,344,391,723,12,253,439,3,4,1,35
6,MD-506,Carroll County,"96,933","94,187","2,746",2.8,"101,810",117.5,144,173,...,57,84,141,3,111,15,0,2,0,16
7,MD-507,Cecil County,"53,891","51,812","2,079",3.9,"75,307",86.9,126,129,...,34,92,119,7,91,30,0,0,0,5
8,MD-508,"Charles, Calvert, St.Mary's Counties","65,682","63,492","2,190",3.0,"100,896",116.0,306,492,...,125,170,304,2,114,175,1,2,1,13
9,MD-509,Frederick County,"137,920","133,683","4,237",3.1,"102,951",118.8,286,316,...,82,204,272,14,183,81,2,0,0,20
10,MD-510,Garrett County,"15,981","15,301",680,4.3,"59,253",68.4,12,15,...,5,7,12,0,12,0,0,0,0,0
11,MD-511,Mid-Shore Regional Counties,"18,469","17,815",654,4.0,"70,306",81.0,164,141,...,84,80,151,13,83,66,0,1,1,13
12,MD-512,Washington County,"74,861","72,015","2,846",3.8,"59,785",69.0,249,199,...,77,171,242,7,171,70,1,0,1,6
13,MD-513,"Wicomico, Somerset, Worcester Counties","28,749","27,162","1,588",6.0,"52,968",61.0,275,292,...,110,164,272,3,116,152,0,0,0,7
14,MD-600,Prince George's County,"513,748","494,934","18,814",3.7,"85,357",98.5,447,478,...,261,185,432,15,22,406,0,1,0,18
15,MD-601,Montgomery County,"565,463","549,296","16,167",2.9,"110,012",127.0,647,840,...,277,369,553,94,183,388,20,2,13,41

In [6]:
homeless_data_complete.columns

Index(['County_ID', 'County_name', 'Civilian_labor_force', 'Employed',
       'Unemployed', 'Unemployment_rate', 'Median_Household_Income',
       'Med_HH_Income_Percent_of_State_Total', 'Overall Homeless 2019',
       'Overall Homeless 2018', 'Overall Homeless 2017',
       'Overall Homeless 2016', 'Overall Homeless 2015',
       'Overall Homeless - Under 18 ', 'Overall Homeless - Age 18 to 24',
       'Overall Homeless - Over 24', 'Overall Homeless - Female',
       'Overall Homeless - Male', 'Overall Homeless - Non-Hispanic',
       'Overall Homeless - Hispanic/Latino', 'Overall Homeless - White',
       'Overall Homeless - Black or African American',
       'Overall Homeless - Asian',
       'Overall Homeless - American Indian or Alaska Native',
       'Overall Homeless - Native Hawaiian or Other Pacific Islander',
       'Overall Homeless - Multiple Races'],
      dtype='object')

In [7]:
homeless_col=['Civilian_labor_force', 'Employed',
       'Unemployed', 'Unemployment_rate', 'Median_Household_Income',
       'Med_HH_Income_Percent_of_State_Total', 'Overall Homeless 2019',
       'Overall Homeless 2018', 'Overall Homeless 2017',
       'Overall Homeless 2016', 'Overall Homeless 2015',
       'Overall Homeless - Under 18 ', 'Overall Homeless - Age 18 to 24',
       'Overall Homeless - Over 24', 'Overall Homeless - Female',
       'Overall Homeless - Male', 'Overall Homeless - Non-Hispanic',
       'Overall Homeless - Hispanic/Latino', 'Overall Homeless - White',
       'Overall Homeless - Black or African American',
       'Overall Homeless - Asian',
       'Overall Homeless - American Indian or Alaska Native',
       'Overall Homeless - Native Hawaiian or Other Pacific Islander',
       'Overall Homeless - Multiple Races']

In [18]:
for i in homeless_col:
    try:
        print(i)
        print(homeless_data_complete[i])
        homeless_data_complete[i]= homeless_data_complete[i].str.replace(',', '').astype(float)
    
    except:
        print("Error")
    pass

Civilian_labor_force
0      32253.0
1     287760.0
2     143572.0
3     321069.0
4     191529.0
5     459091.0
6      96933.0
7      53891.0
8      65682.0
9     137920.0
10     15981.0
11     18469.0
12     74861.0
13     28749.0
14    513748.0
15    565463.0
Name: Civilian_labor_force, dtype: float64
Error Civilian_labor_force
Employed
0      30618.0
1     273351.0
2     138927.0
3     311556.0
4     186427.0
5     442597.0
6      94187.0
7      51812.0
8      63492.0
9     133683.0
10     15301.0
11     17815.0
12     72015.0
13     27162.0
14    494934.0
15    549296.0
Name: Employed, dtype: float64
Error Employed
Unemployed
0      1635.0
1     14409.0
2      4645.0
3      9513.0
4      5102.0
5     16494.0
6      2746.0
7      2079.0
8      2190.0
9      4237.0
10      680.0
11      654.0
12     2846.0
13     1588.0
14    18814.0
15    16167.0
Name: Unemployed, dtype: float64
Error Unemployed
Unemployment_rate
0     5.1
1     5.0
2     3.2
3     3.0
4     2.7
5     3.6
6     2.8
7     3.9
8     3.0
9     3.1
10    4.3
11    4.0
12    3.8
13    6.0
14    3.7
15    2.9
Name: Unemployment_rate, dtype: float64
Error Unemployment_rate
Median_Household_Income
0      48170.0
1      49780.0
2      91492.0
3     100916.0
4     121329.0
5      76972.0
6     101810.0
7      75307.0
8     100896.0
9     102951.0
10     59253.0
11     70306.0
12     59785.0
13     52968.0
14     85357.0
15    110012.0
Name: Median_Household_Income, dtype: float64
Error Median_Household_Income
Med_HH_Income_Percent_of_State_Total
0      55.6
1      57.5
2     105.6
3     116.5
4     140.0
5      88.8
6     117.5
7      86.9
8     116.0
9     118.8
10     68.4
11     81.0
12     69.0
13     61.0
14     98.5
15    127.0
Name: Med_HH_Income_Percent_of_State_Total, dtype: float64
Error Med_HH_Income_Percent_of_State_Total
Overall Homeless 2019
0      145.0
1     2294.0
2      228.0
3      302.0
4      201.0
5      735.0
6      144.0
7      126.0
8      306.0
9      286.0
10      12.0
11     164.0
12     249.0
13     275.0
14     447.0
15     647.0
Name: Overall Homeless 2019, dtype: float64
Error Overall Homeless 2019
Overall Homeless 2018
0       79.0
1     2508.0
2      190.0
3      366.0
4      168.0
5      758.0
6      173.0
7      129.0
8      492.0
9      316.0
10      15.0
11     141.0
12     199.0
13     292.0
14     478.0
15     840.0
Name: Overall Homeless 2018, dtype: float64
Error Overall Homeless 2018
Overall Homeless 2017
0      118.0
1     2669.0
2      189.0
3      376.0
4      168.0
5      609.0
6      147.0
7      193.0
8      419.0
9      309.0
10      10.0
11     153.0
12     208.0
13     260.0
14     525.0
15     894.0
Name: Overall Homeless 2017, dtype: float64
Error Overall Homeless 2017
Overall Homeless 2016
0      124.0
1     2725.0
2      179.0
3      390.0
4      214.0
5      763.0
6      136.0
7      167.0
8      464.0
9      349.0
10      20.0
11     138.0
12     233.0
13     262.0
14     544.0
15     981.0
Name: Overall Homeless 2016, dtype: float64
Error Overall Homeless 2016
Overall Homeless 2015
0       96.0
1     2796.0
2      210.0
3      335.0
4      166.0
5      745.0
6      140.0
7      191.0
8      981.0
9      311.0
10       9.0
11     158.0
12     201.0
13     326.0
14     625.0
15    1100.0
Name: Overall Homeless 2015, dtype: float64
Error Overall Homeless 2015
Overall Homeless - Under 18
0      27
1     236
2      86
3      49
4      68
5     188
6      22
7      28
8      51
9      46
10      0
11     48
12     24
13     49
14    162
15    130
Name: Overall Homeless - Under 18 , dtype: int64
Error Overall Homeless - Under 18
Overall Homeless - Age 18 to 24
0       9
1     134
2      16
3      23
4      14
5      33
6      17
7       3
8      21
9      20
10      0
11     14
12     18
13     13
14     36
15     28
Name: Overall Homeless - Age 18 to 24, dtype: int64
Error Overall Homeless - Age 18 to 24
Overall Homeless - Over 24
0      109.0
1     1924.0
2      126.0
3      230.0
4      119.0
5      514.0
6      105.0
7       95.0
8      234.0
9      220.0
10      12.0
11     102.0
12     207.0
13     213.0
14     249.0
15     489.0
Name: Overall Homeless - Over 24, dtype: float64
Error Overall Homeless - Over 24
Overall Homeless - Female
0      98
1     631
2     100
3     112
4      93
5     344
6      57
7      34
8     125
9      82
10      5
11     84
12     77
13    110
14    261
15    277
Name: Overall Homeless - Female, dtype: int64
Error Overall Homeless - Female
Overall Homeless - Male
0       47.0
1     1660.0
2      127.0
3      189.0
4      107.0
5      391.0
6       84.0
7       92.0
8      170.0
9      204.0
10       7.0
11      80.0
12     171.0
13     164.0
14     185.0
15     369.0
Name: Overall Homeless - Male, dtype: float64
Error Overall Homeless - Male
Overall Homeless - Non-Hispanic
0      145.0
1     2234.0
2      204.0
3      296.0
4      192.0
5      723.0
6      141.0
7      119.0
8      304.0
9      272.0
10      12.0
11     151.0
12     242.0
13     272.0
14     432.0
15     553.0
Name: Overall Homeless - Non-Hispanic, dtype: float64
Error Overall Homeless - Non-Hispanic
Overall Homeless - Hispanic/Latino
0      0
1     60
2     24
3      6
4      9
5     12
6      3
7      7
8      2
9     14
10     0
11    13
12     7
13     3
14    15
15    94
Name: Overall Homeless - Hispanic/Latino, dtype: int64
Error Overall Homeless - Hispanic/Latino
Overall Homeless - White
0     119
1     602
2     116
3     164
4      45
5     253
6     111
7      91
8     114
9     183
10     12
11     83
12    171
13    116
14     22
15    183
Name: Overall Homeless - White, dtype: int64
Error Overall Homeless - White
Overall Homeless - Black or African American
0       14.0
1     1609.0
2       83.0
3      118.0
4      132.0
5      439.0
6       15.0
7       30.0
8      175.0
9       81.0
10       0.0
11      66.0
12      70.0
13     152.0
14     406.0
15     388.0
Name: Overall Homeless - Black or African American, dtype: float64
Error Overall Homeless - Black or African American
Overall Homeless - Asian
0      0
1     15
2      1
3      1
4      2
5      3
6      0
7      0
8      1
9      2
10     0
11     0
12     1
13     0
14     0
15    20
Name: Overall Homeless - Asian, dtype: int64
Error Overall Homeless - Asian
Overall Homeless - American Indian or Alaska Native
0      0
1     25
2      2
3      1
4      5
5      4
6      2
7      0
8      2
9      0
10     0
11     1
12     0
13     0
14     1
15     2
Name: Overall Homeless - American Indian or Alaska Native, dtype: int64
Error Overall Homeless - American Indian or Alaska Native
Overall Homeless - Native Hawaiian or Other Pacific Islander
0      0
1      8
2      0
3      0
4      1
5      1
6      0
7      0
8      1
9      0
10     0
11     1
12     1
13     0
14     0
15    13
Name: Overall Homeless - Native Hawaiian or Other Pacific Islander, dtype: int64
Error Overall Homeless - Native Hawaiian or Other Pacific Islander
Overall Homeless - Multiple Races
0     12
1     35
2     26
3     18
4     16
5     35
6     16
7      5
8     13
9     20
10     0
11    13
12     6
13     7
14    18
15    41
Name: Overall Homeless - Multiple Races, dtype: int64
Error Overall Homeless - Multiple Races

In [13]:
#homeless_data_complete.apply(lambda x: x.str.replace(',', '').astype(float), axis=1)

In [19]:
homeless_data_complete.head()

,County_ID,County_name,Civilian_labor_force,Employed,Unemployed,Unemployment_rate,Median_Household_Income,Med_HH_Income_Percent_of_State_Total,Overall Homeless 2019,Overall Homeless 2018,...,Overall Homeless - Female,Overall Homeless - Male,Overall Homeless - Non-Hispanic,Overall Homeless - Hispanic/Latino,Overall Homeless - White,Overall Homeless - Black or African American,Overall Homeless - Asian,Overall Homeless - American Indian or Alaska Native,Overall Homeless - Native Hawaiian or Other Pacific Islander,Overall Homeless - Multiple Races
0,MD-500,Allegany County,32253.0,30618.0,1635.0,5.1,48170.0,55.6,145.0,79.0,...,98,47.0,145.0,0,119,14.0,0,0,0,12
1,MD-501,Baltimore city,287760.0,273351.0,14409.0,5.0,49780.0,57.5,2294.0,2508.0,...,631,1660.0,2234.0,60,602,1609.0,15,25,8,35
2,MD-502,Harford County,143572.0,138927.0,4645.0,3.2,91492.0,105.6,228.0,190.0,...,100,127.0,204.0,24,116,83.0,1,2,0,26
3,MD-503,Anne Arundel County,321069.0,311556.0,9513.0,3.0,100916.0,116.5,302.0,366.0,...,112,189.0,296.0,6,164,118.0,1,1,0,18
4,MD-504,Howard County,191529.0,186427.0,5102.0,2.7,121329.0,140.0,201.0,168.0,...,93,107.0,192.0,9,45,132.0,2,5,1,16

homeless_data_complete.head()

In [22]:
races = ["White", "Black or African American", "Asian", "American Indian or Alaska Native", 
         "Native Hawaiian or Other Pacific Islander", "Multiple Race"] 
colors = ["red", "blue", "lightgreen", "pink", "purple","orange"]

In [27]:
#BlackN = int(homeless_data_complete["Overall Homeless - Black or African American"])

White = homeless_data_complete["Overall Homeless - White"].sum()
Black = homeless_data_complete["Overall Homeless - Black or African American"].sum()
Asian = homeless_data_complete["Overall Homeless - Asian"].sum
AmerInd = homeless_data_complete["Overall Homeless - American Indian or Alaska Native"].sum
NatHaw = homeless_data_complete["Overall Homeless - Native Hawaiian or Other Pacific Islander"].sum
MultiRace = homeless_data_complete["Overall Homeless - Multiple Races"].sum

In [24]:
homelessMD = [White, Black, Asian, AmerInd, NatHaw, MultiRace]

plt.pie(homelessMD, labels=races, colors=colors, autopct="%1.1f%%", shadow=True, startangle=140)
plt.axis("equal")
plt.savefig("Resources/Homeless by MD counties - pie.png")

TypeError: float() argument must be a string or a number, not 'method'

In [ ]:
x_axis = np.arrange(len(County_ID))

#Build scatter plot for latitude vs Temp
plt.scatter(lats, max_temps,
           edgecolor="black", linewidth=1, marker="o",
           alpha=0.8, label="Cities")

plt.title("Racial breakdown of homeless people by Counties in Maryland")
plt.xlabel("MD Counties")
plt.ylabel("# Homeless people")
plt.grid(True)

#Show the figure
plt.savefig("Resources/Homeless by MD counties - stack.png")

#Show the plot
plt.show()